*{
    margin: 0; /* margem do site */
    
    padding: 0; /*  */
    
    font-family:Verdana, Geneva, Tahoma, sans-serif; /*  */
    
    }
    
    .cabecalho {
    background-color: rgb(78, 135, 168); /*  */
    
    padding: 70px; /*  */
    
    display: flex; /*  */
    }
    
    .cabecalho {
    display: flex;
    justify-content: end;
    }
    
    .cabecalho li {
    list-style: none;
    margin-left: 20px;
    }
    
    .cabecalho li a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }
    
    .cabecalho a:hover {
    color: blue;
    transition: 0.7s;
    }
    
    #sessao {
            padding: 15rem;
            background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
        }
    #sessao h2{
        font-size: 3em; /*48px*/
    color: rgba(0, 0, 0, 0.678);
    }
    
    #sessao p{
        font-size: 2.3em; /**/
        margin:20px 0 ;
    }
    
    #sessao button{
    padding: 22px;
    border-radius: 50px;
    border-color: rgb(19, 153, 108);
    width: 20em;
    }
    
    #sessao button a{
        text-decoration: none;
        color: rgb(19, 153, 108);
    cursor: pointer;
    }
    
    #app{
        padding: 15rem;
        background-color: rgb(226,223,233);
        display: flex;
        justify-content: space-around;
        }
    
    #app div button{
        padding: 22px;
        border-radius: 50px;
        border-color:rgb(19, 153, 108) ;
        width: 20em;
        cursor: pointer;
    }
    
        #app button a{
            text-decoration: none;
        color: rgb(19, 153, 108);
    
        }
    
        #app div p {
            font-size: 2.9em;
            margin-bottom: 20px;
        }
    
    #app div img {
    width:25rem;
    height: 25rem;
    margin-left:50px ;
    margin-top: -70px;
    }

    #container h2{
     font-size: 40px;  
     text-align: center; 
     color: rgba(7, 7, 99, 0.697);
     margin-top: -14rem;
     margin-bottom: 2rem;
    }

    #container p{
        font-size: 1.4rem;
        color: rgb(34, 34, 74);
        margin-bottom: 40px;
        text-align: justify;

    }

    #container button {
padding: 15px;
border-radius: 25px;
border-color: blue;
width: 10rem;

    }

    #container button a{
        text-decoration:none ;
        color: blue;
    }

    #container button:hover{
        background-color:blue;
        transition: 0.7s;
       cursor: pointer;
    }

    #container button a:hover{
        color: white;
        transition: 0.7;
    }

    .line{
        width: 70%;
        margin: 0 0;
    }
    #container img{
width: 45rem;
margin-left: 20px;
    }

#container-cofre {
    background:linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(img\ cofre\ fundo.jpg)
}